/* ativan.lol personal */
/* version 0.1 */
/* makes discord 50% more usable */

/* imports */
@import url('https://s-k-y-l-i.github.io/discord-themes/Theme%20code/transparent-popups.css');

:root{
    --blur-popup: 40px; /*Popup blur size*/
    --opacity-popup: 0.6; /*Popup background opacity*/  
    --radius-popup: 40px; /*Popup border radius*/
    --radius-context: 20px; /*Context menu popups radius*/
    /*--pop-up-color: black; /*uncomment for custom Popup color*/ 
    /*--context-menu-border: 1px solid red; /*uncomment for custom border*/
}

.wumpus__3d214 {
    scale: 1;
    content: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=160&passthrough=true);
}
.focusLock__10aa5 .text-md-normal__4afad {
    font-size: 0;
}
.focusLock__10aa5 .text-md-normal__4afad::after {
    font-size: 16px;
    content: "Relax with Viggy for as long as you need."
}

.container__827e6.fixClipping__84826{
    background: 0 0;
    backdrop-filter: blur(5px);
}

.container__827e6 video.ready__61f2f {
    display: none;
}
.content_de05de::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://tenor.com/view/soggy-cat-jumpscare-cat-kitty-meow-wet-gif-13686511090412857248);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}

[class^="positionContainer_"] {
  height: calc(100vh - 180px);
}

.wrapper__7bcde .link__95dc0 /* channels */,
.container__4f20e /* members */,
.channel_c21703 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper__7bcde:hover .link__95dc0,
.side_b4b3f6 .item__48dda:hover {
    margin-left: 10px;
}
.container__4f20e:hover,
.channel_c21703:hover {
    margin-left: 18px;
}

#account-status-picker--online[class*=focused],
#account-status-picker[class*=focused]:has([mask="url(#svg-mask-status-online)"]) {
    background-color: var(--green-360);
}
#account-status-picker--dnd[class*=focused],
#account-status-picker[class*=focused]:has([mask="url(#svg-mask-status-dnd)"]) {
    background-color: var(--red-400);
}
#account-status-picker--idle[class*=focused],
#account-status-picker[class*=focused]:has([mask="url(#svg-mask-status-idle)"]) {
    background-color: var(--yellow-330);
}
#account-status-picker--invisible[class*=focused],
#account-status-picker[class*=focused]:has([mask="url(#svg-mask-status-invisible)"]) {
    background-color: var(--primary-400);
}
#account .submenu_aed9ee .separator__174fc {
    display: none;
}
#account .submenu_aed9ee .description_d1e167 {
    height: fit-content;
    overflow: hidden;
    max-height: 0rem;
    transition: .2s ease !important;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
}
#account .submenu_aed9ee .item__183e8.focused_dcafb9 .description_d1e167 {
    max-height: 4rem;
}
.statusItem__24445 {
    display: flex;
    flex-wrap: wrap;
}
.statusItem__24445 .icon__1d1c6 {
    margin-right: 10px;
    flex: 0 0 10px;
}
.status__8c19b {
    width: calc(100% - 20px);
    display: flex;
}
#account-status-picker--idle .statusItem__24445::after {
    content: "Away from Discord/PC.";
    height: fit-content;
    overflow: hidden;
    max-height: 0rem;
    transition: .2s ease !important;
    width: 100%;
    flex: 0 0 100%;
    display: flex;
}
#account-status-picker--idle.focused_dcafb9 .statusItem__24445::after {
    max-height: 4rem;
}
